@font-face {
    font-family: 'champagne';
    /* font-style: normal; */
    /* font-weight: 500; */
    src: url('/static/Champagne.ttf') format('tff');
}

*,h1,h2,h3 {
    font-family: 'champagne';
}
